
.container {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
    gap: 4rem;
    flex-wrap: wrap;
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    background-color: #00AFC2;
    padding: 2rem;
    padding-right: 64px;
    padding-bottom: 55px;
    border-radius: 30px;
  }

  .title-section {
    margin: 0;
    margin-top: 35px;
  }
  
  .form-section h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: white;
  }
  
  .form-section p {
    margin-top: 0;
    color: white;
  }
  
  .form-section a {
    color: white;
    text-decoration: underline;
  }

  .form-section form {
    margin-top: 30px;
  }
  
  .form-row {
    display: flex;
    gap: 49px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
  input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  
  button {
    background-color: white;
    color: #00AFC2;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    font-weight: 500;
    font-family: 'Outfit';
    cursor: pointer;
    margin-top: 1rem;
  }