.footer {
    width: 100%;
    background-color: #00AFC2;
    padding: 20px;
    margin-top: auto;
    color: white
}

.footer-content {
    display: flex;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    max-width: 1200px;
}

.link-area ul li {
    list-style: none;
    margin: 5px 0;
    font-size: 16;
}

.link-area ul li:hover {
    cursor: pointer;
}