.customInput {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.customInput p {
    margin: 0px;
}

.customInput input {
    margin-top: 2px;
    flex: 1;
    width: 220px;
    padding: 0.5rem;
    border: 1px solid #14000000;
    border-radius: 0.5rem;
    font-size: 1rem;
}