.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1200px;
}

.headerTitle {
    margin-top: 40px;
    font-size: 25px;
    font-weight: 500;
    color: #6B6B6B;
}